<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">File Archive</lang>
    </name>
    <author>
        <lang name="default">Alexandr Verenik</lang>
        <lang name="russian">Александр Вереник</lang>
    </author>
    <homepage>https://github.com/wasja1982/livestreet_filearchive</homepage>
    <version>1.0.3</version>
    <requires>
        <livestreet>1.0.3</livestreet>
        <plugins>

        </plugins>
    </requires>
    <description>
        <lang name="default">Type of topic "File".</lang>
        <lang name="russian">Тип топика "файл".</lang>
    </description>
</plugin>