<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Edit comment</lang>
	</name>
	<author>
		<lang name="default">Alexei Lukin aka Kerby</lang>
	</author>
	<homepage>http://kerbystudio.ru</homepage>
	<version>1.0.4</version>
	<requires>
		<livestreet>1.0.1</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Edit comments</lang>
		<lang name="russian">Редактирование комментариев</lang>
	</description>
</plugin>